*{background-color: rgb(255, 248, 248);}

header h1{

    margin-top: 5px;
margin-left: 5px;
width: 98%;
height: 40px;
color:rgb(13, 6, 37) ;
text-align: center;
}

nav{

    margin-top: 10px;
margin-left: 10px;
width: 95%;
height: 25px;
background-color: rgba(51,126,132,255);
}

h2{
    margin-top: 1%;
    margin-left: 20px;

}

nav{
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
    height: 30px;
    background-color: rgba(51,126,132,255);  
}

ul{

    list-style-type: none;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0px; 
}

ul li{
   
    float: left;
    margin-top: 10px;
  margin-left: 25px;
    padding: 0px;
}

    ul li a{
   
        display: inline-block;
         list-style: none;
        text-decoration: double;
        background-color: rgba(255,255,255,255);
        list-style: none ;
        
        color: rgb(5, 5, 5);
        border-radius: 8px 000 ; 
    }
    
    ul li a:hover
    {
    
    font-size: 1.2em;
    color: rgb(158, 158, 158);
    background-color: rgba(248,237,41,255);
    
    }

    h3{

        margin-top: 15px;
        margin-left: 28px;
        width: 40%;
        height: 25px;
        border-radius: 5px;
        background-color: rgb(78, 214, 214);
        font-size: medium;
        text-decoration: none;
        border-radius: 15px 000;
        text-align: center;
    }
 
.item{
    width:120px;
    text-align:center;
    display:block;
    margin: 120px;
    margin-right: 90px;
   margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 50px;
  
    float:left;
}

h4{
    

        margin-top: 15px;
        margin-left: 28px;
        width: 40%;
        height: 25px;
        border-radius: 5px;
        background-color: rgb(78, 214, 214);
        font-size: medium;
        text-decoration: none;
        border-radius: 15px 000;
        text-align: center;
    
}